JWT_SECRET_KEY=jwt_secret_key
JWT_ISSUER=jwt_issuer
JWT_AUDIENCE=jwt_audience
MERCHANT_EMAIL=merchant_email
MERCHANT_USERNAME=merchant_username
GMAIL_APP_PASSWORD='xxxx xxxx xxxx xxxx'
SMTP_PROVIDER=smtp.gmail.com
SMTP_PORT=587
CRYPTOGRAPHY_ENCRYPTION_KEY=cryptography_encryption_key==
CRYPTOGRAPHY_INITIALIZATION_VECTOR=cryptography_initialization_vector==
STRIPE_PUBLISHABLE_KEY=stripe_publishable_key
STRIPE_SECRET_KEY=stripe_secret_key
CHATBOT_ENDPOINT=https://apifreellm.com/api/chat